<!-- <a routerLink='/about'>
About Us
</a>
<a routerLink='/login'>
Login
</a>
<a routerLink='/signup'>
Sign Up
</a>
<a routerLink='/dashboard'>
Dashboard
</a>
<a routerLink='/ticketMaster'>
Ticket Master
</a>
<a routerLink='/timeMaster'>
Time Master
</a>
<a routerLink='/chatMaster'>
Chat Master
</a> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="nav navbar-nav navbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a class="nav-item nav-link active" routerLink='/about'>About Us</a></li>
        <li>
          <div ngbDropdown class="">
            <button class="nav-item nav-link dropD active shadow-none" id="dropdownForm1" ngbDropdownToggle>Sevices</button>
            <div ngbDropdownMenu aria-labelledby="dropdownForm1">
              <ul class="nav navbar-nav navbar-left">
                <li><a class="nav-item nav-link active" routerLink='/about'>Personnel Debt</a></li>
                <li><a class="nav-item nav-link active" routerLink='/about'>Buisness Debt</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="nav navbar-nav navbar-right navTwo ml-auto">
        <li><a class="nav-item nav-link active" routerLink='/login'>Login</a></li>
        <li><a class="nav-item nav-link active" routerLink='/signup'>Sign Up</a></li> 
      </ul>
    </div>
</nav>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>