form{
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

li{
    width: 50px;
}

button{
    width: 150px;
    height: 40px;
    margin-left: 5px;
}

button:hover{
    font-size: 19px;
}